{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign clean_excerpt = post.excerpt | strip_html %}
{% assign external_title_target = '' %}
{% assign external_title_rel = '' %}
{% if post.link and post.link contains '://' %}
  {% assign external_title_target = ' target="_blank"' %}
  {% assign external_title_rel = ' rel="noopener"' %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item archive__item--talks" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    {% if post.type %}
      <p class="archive__item-kicker">{{ post.type }}</p>
    {% endif %}
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}"{{ external_title_target }}{{ external_title_rel }}>{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if post.venue or post.location or post.date %}
      <div class="archive__item-meta">
        {% if post.venue %}<span class="archive__item-badge">{{ post.venue }}</span>{% endif %}
        {% if post.location %}<span class="archive__item-badge">{{ post.location }}</span>{% endif %}
        {% if post.date %}<span class="archive__item-badge">{{ post.date | date: '%B %Y' }}</span>{% endif %}
      </div>
    {% endif %}
    {% if clean_excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ clean_excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    {% endif %}
    <div class="archive__item-actions">
      <a class="archive__item-action archive__item-action--primary" href="{{ base_path }}{{ post.url }}" rel="permalink">View talk</a>
      {% if post.link %}<a class="archive__item-action" href="{{ post.link }}"{% if post.link contains '://' %} target="_blank" rel="noopener"{% endif %}>External link</a>{% endif %}
    </div>
  </article>
</div>
